.slogan-primary,
.slogan-secondary {
  text-align: center;
}

.slogan-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.slogan-text {
  font-size: 22px;
  line-height: 26px;
}

/* advantages */
.advantages-list {
  text-align: center;
}

.advantage-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:first-child,
.advantage-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantage-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantage-item:first-child .advantage-title,
.advantage-item:last-child .advantage-title {
  color: #ffffff;
}
