.banner {
  color: #ffffff;
  text-align: center;
  background-color: #82b3d3;
  background-image: url("../images/mountains-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
