.social-media address,
.contacts address {
  font-style: normal;
}

.contacts {
  text-align: center;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.academy-logo {
  display: inline-block;
  width: 115px;
  height: 33px;
  background-image: url("../images/logo/logo-html-academy.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
