.header {
  font-size: 20px;
}

.navigation-link,
.navigation-user-link {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-user-link.navigation-user-link-go {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  min-width: 160px;
}
