.hero {
  color: #ffffff;
  text-align: center;
  background-color: #47638b;
  background-image: url("../images/background/divider.svg"), url("../images/background/mountains-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}
