.hotels-list {
  list-style-type: none;
}

.hotels-title a {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-more,
.hotels-favorites {
  min-width: 140px;
}

.hotels-favorites-remove {
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #7db54f;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
