@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button-default {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-secondary {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-reset {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
}

/* header */
/* banner */
/* advantages */
/* features */
/* search */
/* subscribe */
/* footer */

/* catalog page */
/* filter */
/* sorting */
/* hotels */
