@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.button-default {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-secondary {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-reset {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
}

/* header */
/* banner */
/* advantages */
/* features */
/* search */
/* subscribe */
/* footer */

/* catalog page */
/* filter */
/* sorting */
/* hotels */
