@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.button-primary {
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.button-remove {
  background-color: #7db54f;
}


.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  padding: 0 70px;
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 30px;
  font-size: 20px;
}

.navigation-logo {
  margin-bottom: -6px;
  z-index: 2;
}

.navigation-logo img {
  display: block;
}

.header-navigation {
  display: grid;
  grid-template-columns: 68% 29%;
  gap: 3%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-item,
.navigation-user-item {
  align-self: center;
}

.navigation-link,
.navigation-user-link {
  display: inline-block;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link {
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  bottom: 0;
  left: 16px;
}

.navigation-user-link {
  padding: 22px 12px;
  position: relative;
  min-width: 20px;
  min-height: 20px;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.favorites-count {
  padding: 5px;
  position: absolute;
  top: 15px;
  left: 50%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-user-list .navigation-user-item:nth-child(2) {
  margin-right: 19px;
}

.navigation-user-list .navigation-user-item:last-child {
  flex-grow: 1;
}

.navigation-user-list .button {
  width: 100%;
  max-width: 160px;
  box-sizing: border-box;
}

/* footer */
.footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-media {
  max-width: 150px;
}

.contacts {
  max-width: 400px;
  text-align: center;
}

.social-media address,
.contacts address {
  font-style: normal;
}

.social-media-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.social-media-link {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 40px;
}

.social-media-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.academy-logo-footer {
  max-width: 120px;
}

.academy-logo-link {
  display: inline-block;
  position: relative;
  width: 115px;
  height: 33px;
}

.academy-logo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

/* main */
.main-container {
  flex-grow: 1;
}

/* hero */
.hero {
  color: #ffffff;
  text-align: center;
  background-color: #8f959d;
  background-image: url("../images/backgrounds/divider.svg"), url("../images/backgrounds/mountains-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom -1px, left top;
}

.hero-description {
  padding: 50px 50px 82px;
}

/* advantages */
.advantages {
  text-align: center;
}

.advantages-title {
  margin: 70px auto 25px;
  max-width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-subtitle {
  margin: 0 auto 70px;
  max-width: 651px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantage-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantage-description {
  margin: 0;
}

.advantage-item img {
  display: block;
  max-width: 800px;
  height: auto;
  object-fit: contain;
}

.advantage-item-accent {
  grid-column: 1 / 4;
  display: flex;
}

.advantage-item-accent .image-first {
  order: -1;
}

.advantage-item-wrapper {
  padding: 102px 85px;
  max-width: 400px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.advantage-item:not(:has(.advantage-item-wrapper)) {
  padding: 112px 85px;
}

.advantage-item.advantage-item-accent {
  background-color: #82b3d3;
}

.advantage-item-accent .advantage-title,
.advantage-item-accent .advantage-description {
  color: #ffffff;
}

/* features */
.features {
  text-align: center;
}

.features-title {
  margin: 64px auto 20px;
  max-width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-subtitle {
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 26px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature-item {
  max-width: 400px;
  padding: 183px 85px 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-item:nth-child(even) {
  background-color: #ffffff;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.feature-title::before {
  content: "";
  width: 75px;
  height: 76px;
  position: absolute;
  display: block;
  top: -102px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.feature-title-housing::before {
  background-image: url("../images/features/housing.svg");
}

.feature-title-food::before {
  background-image: url("../images/features/food.svg");
}

.feature-title-souvenirs::before {
  background-image: url("../images/features/souvenirs.svg");
}

.feature-description {
  margin: 0;
}


/* search */
.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 592px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
  max-width: 592px;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  width: 100%;
  max-width: 376px;
  font-size: 20px;
  line-height: 36px;
}

/* subscribe */
.subscribe {
  padding: 96px 258px;
  text-align: center;
  color: #000000;
}

.subscribe-img {
  color: #ffffff;
  background-color: #8f959d;
  background-image: url("../images/backgrounds/subscribe-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0 auto 54px;
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.subscribe .button {
  width: 100%;
  max-width: 232px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}


/* CATALOG-PAGE */
/* filter */
.filter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #8f959d;
  background-image: url("../images/backgrounds/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item-front .breadcrumbs-link::before {
  content: "";
  display: block;
  width: 13px;
  height: 15px;
  background: url("../images/icons/front-page.svg") no-repeat center;
  background-size: contain;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background: url("../images/icons/arrow-right.svg") no-repeat;
  background-size: contain;
  margin: 2px 10px 0;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item:last-of-type {
  pointer-events: none;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form .filter-group-radio {
  margin-right: auto;
}

.filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  display: grid;
}

.filter-range-change {
  display: flex;
  gap: 2px;
}

.filter-control {
  line-height: 23px;
}

.filter-range-item {
  display: flex;
  align-items: center;
  max-width: 143px;
  padding: 12px 20px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.filter-range-input {
  width: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border: none;
}

.filter-range-item:first-of-type,
.filter-range-item:first-of-type .filter-range-input {
  border-radius: 4px 0 0 4px;
}

.filter-range-item:last-of-type {
  border-radius: 0 4px 4px 0;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.filter-buttons .button {
  min-width: 190px;
}

/* search-result */
.search-result {
  padding: 50px 70px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search-result-sorting {
  display: flex;
  align-items: start;
  gap: 70px;
}

.search-result-title {
  max-width: 460px;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting {
  width: 292px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view {
  max-width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-item {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.view-item-tile {
  background-image: url("../images/icons/view-tile.svg");
}

.view-item-card {
  background-image: url("../images/icons/view-card.svg");
}

.view-item-list {
  background-image: url("../images/icons/view-list.svg");
}

.view-item-active {
  border-color: #000000;
}

.view-item:hover,
.view-item:active {
  border-color: #000000;
}

/* hotels */
.hotels {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hotels-list {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item {
  max-width: 340px;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  outline: 1px solid #e5e5e5;
}

.hotel-item * {
  margin: 0;
}

.hotel-img {
  grid-column: 1 / -1;
}

.hotel-img img {
  display: block;
}

.hotel-title {
  grid-column: 1 / 3;
}

.hotel-title a {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-price {
  justify-self: end;
}

.hotel-more {
  font-size: 16px;
  line-height: 20px;
}

.hotel-item .button {
  min-width: 140px;
  box-sizing: border-box;
}

.hotel-stars {
  margin: 0;
  font-size: 24px;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 1em auto;
}

.hotel-stars-1 {
  width: 1em;
}

.hotel-stars-2 {
  width: 2em;
}

.hotel-stars-3 {
  width: 3em;
}


.hotel-stars-4 {
  width: 4em;
}

.hotel-stars-5 {
  width: 5em;
}

.hotel-rating {
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination .pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  padding: 12px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-more {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  padding: 12px;
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
