.subscribe {
  text-align: center;
  color: #000000;
}

.subscribe-img {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background/subscribe-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
}
